:root {
    /* color scheme */
    --primary-color: #352a53;
    --secondary-color: #26f5b0;
    --tertiary-color: #9c9ddf;
}

* {
    /* clear defaults */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font settings */
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

header {
    /* max z-index, nav within sticky later */
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    top: 0;
    padding: 15px 25px;
    z-index: 9999;
    background-color: darkslategrey;
    width: 100%;
}

header h1 {
    font-size: 32px;
    color: var(--tertiary-color);
    margin: 0;
}

header a {
    color: var(--tertiary-color);
    font-size: 16px;
}

header nav {
    margin: 10px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul a {
    padding: 10px 20px;
    font-size: 1.4em;
    font-weight: bold;
}

section {
    padding: 50px;
}

/* hero */

.hero {
    background-image: url(../images/flowers-timp.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
}

.hero h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-end;
    margin: 5px 0;
    padding: 0;
    font-size: 1.4em;
    color: var(--secondary-color)
}

/* Core */

.wrapper {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

/* flex - boxes different colors to figure out formatting */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-direction: column;
}
.border-bottom {
    border-bottom: 2px solid var(--secondary-color);
    color: var(--secondary-color);
}
.border-right {
    border-right: 3px solid var(--secondary-color);
}
.section-box {
    margin: 50px auto;
    padding-bottom: 40px;
    padding-right: 25px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    text-align: center;
}
.section-box h2 {
    font-size: 2em;
    color: var(--secondary-color);
    flex: 1 15%;
    max-width: 20%;
    min-width: 20%;
    max-height: 100%;
    text-align: center;
}
.content-box p {
    font-size: 1em;
    max-width: 100%;
    padding-top: 15px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}
.content-box {
    flex: 1 75%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-left: 50px;
    justify-content: space-between;
}
.content-box a {
    font-size: 1.1em;
}
.work-grid {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.run-buddy {
    grid-row: 1 / 3;
    grid-column: 1 / 4;
    color: var(--secondary-color);
}
.run-buddy img {
    max-height: 100%;
    max-width: 100%;
    z-index: 50;
    transition: 0.5s;
}
.run-buddy img:hover {
    background: teal;
    z-index: 55;
    opacity: 0.7;
}
.horiseon {
    color: var(--secondary-color);
    grid-row: 3 / -1;
    grid-column: 1 / 3;
}
.horiseon img {
    max-width: 100%;
    max-height: 100%;
    z-index: 50;
    transition: 0.5s;
}
.horiseon img:hover {
    background: teal;
    z-index: 55;
    opacity: 0.7;
}
.content-box a {
    color: var(--secondary-color);
}
/* media query */
@media screen and (max-width: 768px) {
    section {
        padding: 25px 15px;
    }
    .content-box {
        font-size: 0.8em;
        flex: 1 100%;
        padding: 0;
    }
    .section-box {
        flex: 1 100%;
        padding: 10px;
        margin: 10px;
    }
    .section-box h2 {
        font-size: 1em;
        flex: 1 100%;
    }
    .flex-container {
        flex: 1 100%;
        text-align: center;
        flex-direction: row;
        flex-flow: wrap;
    }
    .content-box p {
        flex: 100%;
    }
    .border-right {
        border-right: none;
        border-bottom: 2px solid var(--secondary-color);
    }
    .border-bottom {
        margin: 10px 5px;
    }
    .work-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    }
    .run-buddy {
        grid-row: 1 / 3;
        grid-column: 1 / 5;
    }
    .horiseon {
        margin-top: 15px;
        grid-row: 3 / -1;
        grid-column: 2 / 4;
    }
}