:root {
    /* color scheme */
    --primary-color: #352a53;
    --secondary-color: #26f5b0;
    --tertiary-color: #9c9ddf;
}

* {
    /* clear defaults */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font settings */
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

header {
    /* max z-index, nav within sticky later */
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    top: 0;
    padding: 15px 25px;
    z-index: 9999;
    background-color: darkslategrey;
    width: 100%;
}

header h1 {
    font-size: 32px;
    color: var(--tertiary-color);
    margin: 0;
}

header a {
    color: var(--tertiary-color);
    font-size: 16px;
}

header nav {
    margin: 10px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul a {
    padding: 10px 20px;
    font-size: 1.4em;
    font-weight: bold;
}

section {
    padding: 50px;
}

/* hero */

.hero {
    background-image: url(../images/flowers-timp.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
}

.hero h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-end;
    margin: 5px 0;
    padding: 0;
    font-size: 1.4em;
    color: var(--secondary-color)
}

/* Core */

.wrapper {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}
